body {
    font: 120% / 1.5 Arial;
    background: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, p {
    margin-bottom: 1.5em;
}


  /* slide layout
  --------------------------------------------- */

.slide {
    position: relative;
    padding: 0px 0px ;
}

.slide__content {
    width: 600px;
    margin: auto;
  }

.slide__bg, .slide__bg1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


 /* slide backgrounds */

#slide-1 .slide__bg {
    background-image: url(../images/star1_bg.png);
}  

#slide-1 .slide__bg1 {
    background-image: url(../images/star2_bg.png);
}  

  /* misc
  --------------------------------------------- */

.demo__info {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 80%;
    text-align:center;
    z-index: 100;
}

.status, .demo__info {
    padding: 1.5em;
    background: rgba(255, 255, 255, .5);
}




  /* Large screen layout
  --------------------------------------------- */ 
   
  @media screen and (min-width: 900px) {

    /* parallax */
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
      html, body {
        overflow: hidden;
        height:100%;
      }
      body {
        transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
      }

      .slides {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;
        perspective-origin: 100% 100%;
      }
      .slide, .slide__content {
        transform-style: preserve-3d;
        transform: translateZ(0); /* Safari H/W acceleration */
      }
      .slide__bg1 {
        transform: translateZ(-300px) scale(2);
        transform-origin: 100% 100%;
        z-index: -10;
      }
    .slide__bg {
        transform: translateZ(-600px) scale(3);
        transform-origin: 100% 100%;
        z-index: -20;
    }
  
  
    .slide__text {
        box-sizing: border-box;
        box-shadow: 0px 0px 15px 1px #ff9955;
        transform-style: inherit;
        background: rgba(255, 255, 255, .5);
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 1em;
    }
  }
} 
